{% extends "app/base.html" %}
{% load widget_tweaks %}

{% block content %}

<div class="my-4">
    <h2>Create your post</h2>
</div>

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="formpost">
        {% render_field form.title class="form-control" placeholder="Title Here" %}
    </div>
    <div class="formpost">
        {% render_field form.category class="form-control" placeholder="Category Here" %}
    </div>
    <div class="formpost">
        {{ form.image }}
    </div>
    <div class="formpost">
        {% render_field form.content class="form-control" placeholder="Content Here" %}
    </div>
    <button class="btn btn-warning" type="submit">Post</button>
</form>

{% endblock %}