{% extends "app/base.html" %}

{% block content %}

<h2 class="my-4">{{ post_data.title }}</h2>
<p>{{ post_data.category }}</p>
<hr>
<p>{{ post_data.created }} by {{ post_data.author }}</p>
<hr>
{% if post_data.image %}
    <img src="{{ post_data.image.url }}" alt="" class="rounded detail-img">
    <hr>
{% endif %}
<p>{{ post_data.content|linebreaksbr }}</p>
{% if user.is_authenticated %}
    <hr>
    <div class="d-flex mb-5">
        <a href="{% url 'post_edit' post_data.id %}" class="btn btn-warning mr-2">Edit</a>
        <a href="{% url 'post_delete' post_data.id %}" class="btn btn-danger">Delete</a>
    </div>


{% endif %}

{% endblock %}